html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff7cf54;
}
::-moz-selection { /* Code for Firefox */
    color: #8c60f7;
   }
  
  ::selection {
    color: #8c60f7;
  }
h1 {
    color: #db7474;
    font-family: 'Roboto', sans-serif;
}
.card {
    border-bottom-right-radius: 2.50rem;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: transparent;
    border: 0px solid rgba(0, 0, 0, 0);
}

.card-body {
    background-color: #db7474;
    border-bottom-right-radius: 2.50rem;
    border-bottom-left-radius: 0.5rem;
 }

 .card a {
    color: white;
}

.profiel {
height: 600px;
}

.btn-primary {
    color: #fff;
    background-color: #db7474;
    border-color: #db7474;
    border-radius: 2.5rem;
}

.btn-outline-primary {
    color: #db7474;
    border-color: #db7474;
    border-radius: 2.5rem;
}
.btn-primary:hover {
    background-color: yellow;
}
.shapet {
    height: 30px;
}


.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate(  0.0deg); }
     10% { transform: rotate(-10.0deg); }
     20% { transform: rotate( 12.0deg); }
     30% { transform: rotate(-10.0deg); }
     40% { transform: rotate(  9.0deg); }
     50% { transform: rotate(  0.0deg); }
    100% { transform: rotate(  0.0deg); }
  }


